<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Bojack Horseman</title>
</head>
<body>
    <nav>
        <div class="navSizingContainer">
        <ul>
            <li>
                <a href="/" class="li1">Home</a>
            </li>
            <li >
                <a href="/about" class="li2">About</a>
            </li>
            <li>
                <a href="/works" class="li3">Works</a>
            </li>
            <li >
                <a href="/galery" class="li4">Photo Gallery</a>
            </li>
        </ul>
    </div>
    </nav>
    <div class="aboutSizing">
    <div class="about">
        <img src="/img/bojackplants.jpg" alt="">
        <p>En un mundo donde humanos y animales antropomorfos conviven, el personaje principal de la serie es el caballo BoJack Horseman (Will Arnett), protagonista de la telecomedia Horsin' Around en la década de 1990. Después de años de decadencia y una tormentosa vida personal, se propone volver al candelero a través de una autobiografía para la que contará con ayuda de una escritora fantasma, Diane Nguyen (Alison Brie). BoJack también tendrá que lidiar con las exigencias de su exnovia y agente, la gata Princess Carolyn; su compañero de piso Todd Chávez y su amienemigo Mr. Peanutbutter, un perro labrador que es novio de Diane y triunfó con una sitcom muy similar a Horsin' Around. La mayor parte de la trama se desarrolla en «Hollywoo», una parodia de Hollywood, California.

            Además de estos personajes ficticios, la serie cuenta con cameos de actores y actrices que se interpretan a sí mismos, como Margo Martindale, Naomi Watts o Wallace Shawn entre otros.
            
            BoJack Horseman es una de las primeras series de animación en Estados Unidos con un hilo narrativo serializado, donde los sentimientos de los protagonistas evolucionan conforme avanza la trama. Will Arnett, actor de voz de BoJack, la ha definido de la siguiente forma: «La paradoja es que los animales protagonizan una comedia cruda sobre la condición humana y sobre una persona que no sabe avanzar (...) Parodiamos lo absurdo de este mundo interesado en las bajezas de los famosos. Es lo más dramático que he hecho. Raphael Bob-Waksberg y yo salimos de la grabación hechos polvo».1​</p>
    </div>
    </div>
    <script src="/js/index.js"></script>
</body>
</html>