<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Bojack Horseman</title>
</head>
<body>
    <nav>
        <div class="navSizingContainer">
        <ul>            
        <li>
            <a href="/" class="li1">Home</a>
        </li>
            <li>
                <a href="/about" class="li2">About</a>
            </li>
            <li>
                <a href="/works" class="li3">Works</a>
            </li>
            <li>
                <a href="/galery" class="li4">Photo Gallery</a>
            </li>
        </ul>
        </div>
    </nav>
    <div class="pictures">
        <h2>Photo Gallery</h2>
        <img src="/img/bojackWithFriends.jpg" alt="">
        <img src="/img/bojackhorseman.jpeg" alt="">
        <img src="/img/bojackplants.jpg" alt="">
    </div>
    <script src="/js/index.js"></script>
</body>
</html>