<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Bojack Horseman</title>
</head>
<body>
    <nav>
        <div class="navSizingContainer">
        <ul>
            <li >
                <a href="/" class="li1">Home</a>
            </li>
            <li>
                <a  class="li2" href="/about">About</a>
            </li>
            <li>
                <a href="/works" class="li3">Works</a>
            </li>
            <li>
                <a href="/galery" class="li4">Photo Gallery</a>
            </li>
        </ul>
    </div>
    </nav>
    <div class="works">
        <div class="worksSizing">
            <div class="work1 work">
                <img src="/img/horsinaround.jpg" alt="">
                <p>Tres niños huérfanos, ni más ni menos. Sin hogar y sin parientes. Hasta que este caballo les dijo: "Veníos a vivir conmigo", ¡y ahora tienen una nueva familia! </p>
            </div>
            <div class="work2 work" id="work2">
                <img src="/img/philbert.jpg" alt="">
                <p>	It's about Detective John Philbert, a man from another time. But now he finds himself in a new time. He finds himself in a time he doesn't understand. A time in which he is alone. Perhaps, all this time, he's been alone.</p>
            </div>
            <div class="work3 work">
                <img src="/img/secretariat.jpg" alt="">
                <p>Secretariat was a famous racehorse and the childhood hero of BoJack Horseman. He won the Triple Crown in 1973 and then months later committed suicide after being banned from competition for illegal betting, and learning of the death of his brother.</p>
            </div>
        </div>
    </div>
    <script src="/js/index.js"></script>
</body>
</html>